
<footer>
    
</footer>
<script>
  /*
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.edit').forEach(button => {
      button.addEventListener('click', () => {
        const postId = button.id;
        fetch(`/submit/${postId}`,{
          method:'PUT'
          })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
              document.getElementById(postId).remove();
            } else {
              console.error('Failed to delete post');
            }
          })
          .catch(error => console.error('Error:', error));
        });
      });
    });
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.button').forEach(button => {
        button.addEventListener('click', () => {
          const postId = button.id;
          fetch(`/submit/${postId}`, {
            method: 'DELETE'
          })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'success') {
              document.getElementById(postId).remove();
            } else {
              console.error('Failed to delete post');
            }
          })
          .catch(error => console.error('Error:', error));
        });
      });
    });*/
  </script>
</body>
</html>